@font-face {
  font-family: 'BreeSerif';
  font-style: normal;
  font-weight: normal;
  src:  url('fonts/BreeSerif-Regular.otf') format('opentype');
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'BreeSerif', serif;
  height:100vh;
  width:100vw;
  display: grid;
  grid-template-rows: auto 600px auto;
  grid-template-columns: auto 800px auto;
}

a.fill-nav {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
header{
  padding:1em;
  text-align: left;
  /* background-color: #EEEEEE; */
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4; 
}

footer {
  text-align: center;
  padding: 20px;
  /* background-color: #EEEEEE; */
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4; 
}

.padding-left{
  background: rgb(245,245,245);
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2; 
  z-index: -1;
}

.padding-right{
  background: rgb(245,245,245);
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  z-index: -1;
}

.folder-grid {
  background: rgb(245,245,245);
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  /*Start the folder flex stuff*/
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: repeat(5, 20%);
}

.folder-tab {
  /* background-color: rgb(241, 213, 146); */
  background-color: rgb(255, 246, 194);
  /* color: #dc7b14; */
  border: 1px solid #ffe801;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  opacity: 0.5;
  z-index: 10;
  font-size: 1.3em;
  
}

/* .folder-tab-empty {
  background-color: rgb(241, 213, 146);
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  opacity: 0.5;  
} */

.folder-tab-selected {
  background-color: rgb(255, 246, 194);
  
  font-size: 1.3em;
  border-top: 1px solid #ffe801;
  border-right: 1px solid #ffe801;
  border-left: 1px solid #ffe801;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  /* box-shadow: 0px 0px 5px #000000; */
}

.folder-tab:hover {
  background-color: rgb(255, 246, 194);
  border-top: 1px solid #ffe801;
  border-right: 1px solid #ffe801;
  border-left: 1px solid #ffe801;
  opacity: 0.75;
  /* border: 1px 1px solid; */
}

.folder-body{

  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
	border-radius:10px;
  
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 6; 
    /*Start the folder flex stuff*/
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 61.8% auto;
}

.folder-body-left {
  background-color: rgb(255, 246, 194);
  padding: 1em;
  border-bottom: 1px solid #ffe801;
  border-left: 1px solid #ffe801;
  border-radius: 0px 0px 0px 5px;
  text-align: left;
  
  
}

.folder-body-right {
  background-color: rgb(255, 246, 194);
  border-bottom: 1px solid #ffe801;
  border-right: 1px solid #ffe801;
  border-radius: 0px 0px 5px 0px;
  padding:1em;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height:100%;
}
