@font-face {
  font-family: 'MyFont';
  src: url('fonts/ArchitectsDaughter.ttf');
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  color: #383428;
  font-family: 'MyFont';
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 600px auto;
  grid-template-columns: auto 800px auto;
  background-image: url('media/crisp-paper-ruffles.png');
  background-repeat: repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*This property makes the entire folder tab clickable*/

a.fill-nav {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

header {
  padding: 1em;
  text-align: left;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer {
  text-align: center;
  padding: 20px;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.padding-left {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: -1;
}

.padding-right {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  z-index: -1;
}

.folder-grid {
  /* Makes text really blurry */
  /* transform: rotate(1deg) !important; */
  
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  /*Start the folder flex stuff*/
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: repeat(5, 20%);
}

.folder-tab {
  background-color: #fff5c2;
  border: 1px solid #fff5c2;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  opacity: 0.5;
  z-index: 10;
  font-size: 1.3em;
}

/* .folder-tab-empty {
  background-color: rgb(241, 213, 146);
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  opacity: 0.5;
}
*/

.folder-tab-selected {
  background-color: #fff5c2;
  font-size: 1.3em;
  border-top: 1px solid #fff5c2;
  border-right: 1px solid #fff5c2;
  border-left: 1px solid #fff5c2;
  background-image: url('media/white-paperboard.png');
  background-repeat: repeat;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.folder-tab:hover {
  border-top: 1px solid #fff5c2;
  border-right: 1px solid #fff5c2;
  border-left: 1px solid #fff5c2;
  opacity: 0.75;
}

.folder-body {
  background-color: rgb(255, 246, 194);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  /*Start the folder flex stuff*/
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 61.8% auto;
}

.folder-body-left {
  background-color: rgb(255, 246, 194);
  padding: 1em;
  border-bottom: 1px solid #fff5c2;
  border-left: 1px solid #fff5c2;
  border-radius: 0px 0px 0px 5px;
  text-align: left;
  background-image: url('media/white-paperboard.png');
  background-repeat: repeat;
}

.folder-body-right {
  background-color: #fff5c2;
  border-bottom: 1px solid #fff5c2;
  border-right: 1px solid #fff5c2;
  border-radius: 0px 0px 5px 0px;
  padding: 1em;
  text-align: center;
  background-image: url('media/white-paperboard.png');
  background-repeat: repeat;
  
}

a {
  text-decoration: none;
  color: #383428;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Collapsible Accordian Stuff */

.accordion-toggle {
  display: none;
}

.accordion {
  margin-bottom: 1em;
}

.accordion-title, .accordion-content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}

.accordion-title {
  background: #c2eaff;
  padding: 1em;
  display: block;
  font-weight: bold;
  background-image: url('media/cream-paper.png');
  background-repeat: repeat;
}

.accordion-title:after, .accordion-title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.2s;
}

.accordion-title:after {
  transform: rotate(90deg);
}

.accordion-title:hover {
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #FFF;
  background-image: url('media/cream-paper.png');
  background-repeat: repeat;
}

.accordion-content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 1em;
}

.accordion-content p:hover {
  background-image: url('media/cream-paper.png');
  background-repeat: repeat;
  cursor: pointer;
}

.accordion-toggle:checked+.accordion-title, .accordion-toggle:checked+.accordion-title+.accordion-content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}

.accordion-toggle:checked+.accordion-title+.accordion-content {
  max-height: 500px;
}

.accordion-toggle:checked+.accordion-title:before {
  transform: rotate(90deg) !important;
}