:root {
  --L1: #000000;
  --L2: #eeeeee;
  --L3: #fff5c2;
  --L4: #FFF;
}

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/ArchitectsDaughter.ttf');
}

body {
  padding: 0;
  margin: 0;
  background-color: #EEEEEE;
  background-color: var(--L2);
  background-image: url('../media/crisp-paper-ruffles.png');
  background-repeat: repeat;
  cursor: default;
  font-family: 'MyFont';
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 600px auto;
  grid-template-columns: auto 800px auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*This property makes the entire folder tab clickable*/

a.fill-nav {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  padding-top: 2em;
  text-align: center;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer {
  text-align: center;
  padding: 20px;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.padding-left {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: -1;
}

.padding-right {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  z-index: -1;
}

.folder-grid {
  /* Makes text really blurry */
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  /*Start the folder flex stuff*/
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: repeat(4, 25%);
}

.folder-tab {
  background-color: #fff5c2;
  background-color: var(--L3);
  background-image: url('../media/white-paperboard.png');
  background-repeat: repeat;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  opacity: 0.5;
  z-index: 10;
  font-size: 1.3em;
}

.folder-tab:hover {
  opacity: 0.75;
}

.folder-tab-selected {
  background-color: #fff5c2;
  background-color: var(--L3);
  background-image: url('../media/white-paperboard.png');
  background-repeat: repeat;
  font-size: 1.3em;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.folder-body {
  background-image: url('../media/white-paperboard.png');
  background-repeat: repeat;
  background-color: #fff5c2;
  background-color: var(--L3);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 0px 0px 10px 10px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  /*Start the folder flex stuff*/
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 61.8% auto;
  height: inherit;
}

.folder-body-left {
  padding: 1em;
  border-radius: 0px 0px 0px 5px;
  text-align: left;
}

.folder-body-right {
  height: inherit;
  border-radius: 0px 0px 5px 0px;
  padding: 1em;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Collapsible Accordian Stuff */

.accordion-toggle {
  display: none;
}

.accordion {
  margin-bottom: 1em;
}

.accordion-title, .accordion-content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}

.accordion-title {
  background: #c2eaff;
  background-image: url('../media/cream-paper.png');
  background-repeat: repeat;
  padding: 1em;
  display: block;
  font-weight: bold;
}

.accordion-title:after, .accordion-title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.2s;
}

.accordion-title:after {
  transform: rotate(90deg);
}

.accordion-title:hover {
  cursor: pointer;
}

.accordion-content {
  background-color: #fff;
  background-color: var(--L4);
  background-image: url('../media/lined-paper-2.png');
  background-repeat: repeat;
  display: block;
  max-height: 0;
  overflow: hidden;
}

.accordion-content p {
  background-color: #fff;
  background-image: url('../media/lined-paper-2.png');
  background-repeat: repeat;
  margin: 0;
  font-size: 1em;
}

.accordion-content a{
  padding: 0.5em 1em 1em;
  display: block;
}

.accordion-content a:hover{
  background-color: #eee;
  background-color: var(--L0);
  background-image: url('../media/lined-paper-2.png');
  padding: 0.5em 1em 1em;
}

.accordion-content p:hover {
  background-color: #eee;
  background-image: url('../media/lined-paper-2.png');
  cursor: pointer;
  display: block;
}

.accordion-toggle:checked+.accordion-title, .accordion-toggle:checked+.accordion-title+.accordion-content {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.accordion-toggle:checked+.accordion-title+.accordion-content {
  max-height: 500px;
}

.accordion-toggle:checked+.accordion-title:before {
  transform: rotate(90deg) !important;
}